[submodule "templates/yasgui"]
	path = templates/yasgui
	url = https://github.com/oxigraph/yasgui-release.git
[submodule "w3c-validation/rdf-tests"]
	path = w3c-validation/rdf-tests
	url = https://github.com/w3c/rdf-tests
[submodule "benches/trainmarks"]
	path = benches/trainmarks
	url = https://github.com/DeciSym/trainmarks.git
